@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 77% 62%; /* Using HSL equivalent of #EF4444 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 77% 62%; /* Using HSL equivalent of #EF4444 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .debug {
    @apply border-[1px] border-red-500;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.iphone-island {
  position: relative;
  background-color: black;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.iphone-island::before,
.iphone-island::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.iphone-island::before {
  top: -20px; /* Adjusted to match the height of the island */
  right: -20px;
  border-width: 85px 20px 0 0; /* Adjusted to make the triangle taller */
  border-color: black transparent transparent transparent;
}

.iphone-island::after {
  top: -20px; /* Adjusted to match the height of the island */
  left: -20px;
  border-width: 85px 0 0 20px; /* Adjusted to make the triangle taller */
  border-color: black transparent transparent transparent;
}

::-webkit-scrollbar {
  display: none;
}

/*
input[type="time"] { 
  background: red-500;
  color: white;
  border: none;
  color-scheme: dark;
}
*/